body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu';
}

.app {
    margin: 10px;
    padding: 20px;
    min-width: 300px;
    width: fit-content;
    border-radius: 5px;  
    background: hsla(210, 90%, 95%, 5%);
}

.messages {
    padding: 20px;    
    max-height: 300px;
    overflow: auto;
    background: white;    
}

.msg {
    list-style: none;
}

.author {
    margin-bottom: 0;
    margin-right: 10px;  
    color: #4fd800;     
    font-weight: bold;
    text-align: right;
}

.text {
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    background: hsla(210, 100%, 100%, 5%);   
    box-shadow: 1px 1px 1px #5e5e5e;   
    position: relative;
}

.text::before {
    content: '';
    background: inherit;
    border-left: 1px solid #BEBEBE;
    border-top: 1px solid #BEBEBE;        
    position: absolute;
    width: 12px;
    height: 12px;
    right: 12px;
    top: -7px;
    transform: rotate(45deg);
}

.form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin-top: 10px;
    padding: 8px;
    outline: transparent;
    border-radius: 5px;
    border: 1px solid transparent;
}

input[type="text"]:focus {
    border: 1px solid forestgreen;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 8px;
    outline: transparent;
    border-radius: 5px;
    border: 1px solid transparent;
    background: #434343;
    color: white;
}